<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>Home Page</title>
</head>
<body>
    <hl>Welcome to this page</hl>
    <form action="#">
        <label>email</label>               
        <input type="text" name="email">
        <br>
        <label>password</label>               
        <input type="text" name="password">
        <br>
        <button type="submit">login</button>
    </form>
</body>
</html>