<%- include('includes/head.ejs') %>
</head>
<body>
    <%- include('includes/navigation.ejs') %> 
    <main>
        <div>
            <form action="/add-users" method="post">
                <label>Family name</label>               
                <input type="text" name="familyname">
                <br>        
                <button type="submit">Add User</button>
            </form>
        </div>
    </main>
<%- include('includes/end.ejs') %>