<%- include('includes/head.ejs') %>
</head>
<body>
    <%- include('includes/navigation.ejs') %> 
   
    <% if(userName.length > 0 ) { %>
        <h1> User name </h1>
    <ul>
        <% for (let user of userName){ %>
        <li> <h2><%= user.firstName %> </h2></li>
        <%}%>
    </ul>
    <% } else { %>
        <h1>no users</h1>
    <%}%>
<%- include('includes/end.ejs') %>